* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
//   background: linear-gradient(-90deg, rgba(31, 36, 55, 1) 0%, rgba(31, 36, 55, 0) 100%), linear-gradient(-270deg, rgba(135, 102, 199, 1) 0%, rgba(135, 102, 199, 0) 100%), linear-gradient(-90deg, rgba(170, 12, 10, 1) 0%, rgba(170, 12, 10, 0) 100%), linear-gradient(-180deg, rgba(216, 186, 254, 1) 0%, rgba(216, 186, 254, 0) 100%);
  background: linear-gradient(180deg, #1f2437 0%, rgba(31, 36, 55, 0) 100%), linear-gradient(-270deg, #8766c7 0%, rgba(135, 102, 199, 0) 100%), linear-gradient(-90deg, #aa0c0a 0%, rgba(170, 12, 10, 0) 100%), linear-gradient(180deg, rgba(#d8bafe, 0.1) 0%, rgba(216, 186, 254, 0) 100%);
  background-attachment: fixed;
//   height: 100vh;
//   overflow: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
  
}

body {
  background: transparent;
}

#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 100%;
}

.hidden-phone{
    @media(max-width: $phone){
        display: none !important;
    }
}

.hidden-tablet{
    @media(min-width: $phone) and (max-width: $tablet){
        display: none !important;
    }
}

.hidden-desktop{
    @media(min-width: $tablet){
        display: none !important;
    }
}
