.button{
    background: rgba(#FFFFFF, 0.2);
    border-radius: 2px;
    display: block;
    font-weight: 300;
    color: #FFFFFF;
    padding: 12px;
    user-select: none;
    @include fp(font-size, 10, 14);
    margin-top: 5px;
    margin-bottom: 5px;
    @media (max-width: 767px) {
      font-weight: 400;
    }
    &:hover{
        color: #fff;
        text-decoration: none;
        background: rgba(#FFFFFF, 0.4);
    }
    &.button-fullwidth{
        width: 100%;
    }
    &.button-link{

    }
}