body{
  padding-left: 160px;
}

aside{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  background: rgba(0,0,0,0.20);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a{
    color: #fff;
    text-decoration: none;
    &:hover{
      color: #fff;
      text-decoration: none !important;
    }
  }
  nav.main{
    li{
      height: 70px;
      margin-top: 10px;
      margin-bottom: 10px;
      a{
        height: 70px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        &:hover, &.active, .active &{
          background: rgba(#FFFFFF, 0.1);
          &:after{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 7px;
            background: #fff;
          }
        }
        img{
          margin-bottom: 10px;
        }
      }
    }
  }
}