.guides{
    padding-bottom: 40px;
    a{
        color: #fff;
    }
    .guide-image{
        width: 100%;
        // height: 64px;
        clip-path: circle(50% at center);
    }
    h3{
        margin-top: 0;
        font-weight: 300;
    }
    .guide-link-row{
        margin-top: 40px;
    }
    .guide-link{
        margin-top: 10px;
        a{
            &:hover{
                text-decoration: none;
            }
        }
        h4{
            margin-bottom: 0;
        }
        h5{
            margin-top: 0;
        }
    }
}