p{
    color: #fff;
    &.subtle{
        color: rgba(#fff, .4);
        font-size: .8em;
    }
}

h1, h2, h3, h4, h5{
    // color: $brand-primary;
    color: #fff;
    &.secondary{
        // color: $brand-secondary;
    }
}

h2{
    font-weight: 300;
    @include fp(font-size, 18, 48);
}

h4{
    @include fp(font-size, 10, 16);
}

a{
    cursor: pointer;
    &:hover{
        color: #fff;
    }
}

input{
    background: rgba(255,255,255,0.10);
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    @include fp(font-size, 10, 16);
    @include fp(line-height, 12, 20);
    padding: 12px;
    width: 100%;
    color: #fff;
    &[type="submit"]{
        @include fp(font-size, 14, 20);
    }
    &:focus{
        outline: none;
    }
}