
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
@import "mixins";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "material";

*{
  font-family: 'Ubuntu', sans-serif;
}


html, body{
  margin: 0;
  padding: 0;
  background: #1f2022;
  color: #fff;
}

nav.main{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#000, 0.2);
  ul{
    display: flex;
    list-style: none;
    margin: 0;
    li{
      padding: 5px 20px;
      a{
        color: #fff;
        @include fp(font-size, 14, 24);
      }
    }
  }
}

.counter{
  text-align: center;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:  100vw;
  height:  100vh;

  h1{
    color: #c24d2e;
    font-weight: 100;
    @include fp(font-size, 24, 54);
    margin: 40px 0px 20px;
  }

  #clockdiv{
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    @include fp(font-size, 30, 100);
  }

  #clockdiv > div{
    padding: 1vw;
    border-radius: 3px;
    background: #24252a;
    display: inline-block;
  }

  #clockdiv div > span{
    padding: 1vw;
    border-radius: 3px;
    background: #c24d2e;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fp(min-width, 30, 130);
    @include fp(min-height, 30, 130);
  }

  .smalltext{
    padding-top: 5px;
    @include fp(font-size, 14, 28);
  }

  .legend{
    @include fp(font-size, 12, 16);
    color: rgba(255,255,255,0.5);
    margin-top: 5vh;
    font-weight: 400;
  }

  .legend a, .legend p{
    color: rgba(255,255,255,0.5);
    line-height: 1.4;
    text-decoration: none;
  }
}

.md-card .md-title{
  @include fp(font-size, 12, 20);
}

@import "oneliner";